form{
    background-image: url("/image/6.jpg");
    font-family: sans-serif;
    background-size: cover;      
    background-position: center;    
    background-attachment: fixed;    
    background-repeat: no-repeat;
    .container {
    display: flex;
    width: 900px;
    height: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    }

    /* Left - Login Section */
    .login-section {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .login-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    }

    .login-section p {
    color: #666;
    margin-bottom: 30px;
    }

    input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    }

    .form-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        margin-bottom: 20px;
        label{
            display: flex;
        }

    }

    .form-options a {
    color: #4a90e2;
    text-decoration: none;
    }

    .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 12px;
    }

    .btn.primary {
    background-color: #000;
    color: #fff;
    }

    .btn.google {
    background-color: #fff;
    border: 1px solid #ccc;
    }

    .signup-text {
    text-align: center;
    font-size: 14px;
    }

    .signup-text a {
    color: #4a90e2;
    text-decoration: none;
    font-weight: 500;
    }

    /* Right - Testimonial Section */
    .testimonial-section {
    flex: 1;
    background: url('https://i.pinimg.com/736x/e4/63/da/e463da1ecbc3c29021dd6c3d68e636f2.jpg') center/cover no-repeat;
    position: relative;
    }

    .testimonial-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 30px;
    width: 100%;
    }

    .quote {
    font-size: 17px;
    margin-bottom: 20px;
    }

    .author {
    font-size: 14px;
    line-height: 1.5;
    }

    .stars {
    font-size: 18px;
    margin-top: 10px;
    }

}